<head>

    <link rel="stylesheet" href="style.css">
    <script ></script>
</head>
<header>
    <nav>
        <div class="logo">
            <ul>
                <li>
                    <h3>Howzit</h3>
                </li>
                <li>
                    logo
                </li>
            </ul>
        </div>
        <div>
            <ul>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Servive</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
</header>