
<header>
    <nav>
        <div class="logo">
            <ul>
                <li>
                    <h3>Howzit</h3>
                </li>
                <li>
                    logo
                </li>
            </ul>
        </div>
        <div>
            <ul class="links">
                <li><a href="#">About</a></li>
                <li><a href="#">Servive</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <div class="phone">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>
</header>