<!DOCTYPE html>
<html>
    <head>
        <title>Howzit</title>
        <link rel="stylesheet" href="style.css">
        <script></script>
    </head>
    <body>
        <%- body %>

    </body>
</html>