<!DOCTYPE html>
<html>
    <head>
        <title>Howzit</title>
        <link rel="stylesheet" href="../public/css/style.css">
        <script></script>
    </head>
    <body>
        <%- body %>
        <script src="../public/js/main.js"></script>
    </body>
</html>